<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowSense - Classificação Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-bg">
    <div class="home-container">
        <img src="{{ url_for('static', filename='img/autoU-logo.png') }}" class="home-logo">
        <h1 class="home-title">FlowSense</h1>
        <p class="home-sub">Classificação inteligente de mensagens, powered by IA.</p>
        <a href="/inicio" class="home-button">Explorar</a>
    </div>
</body>
</html>
